body {
  min-height: 10vh;
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(242, 255, 233);
  font-family: 'Belanosima', sans-serif;
}

h1 {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.header-box{
  display: block;
  align-items: flex-start;
  background-color: rgb(233, 255, 216);
  margin: 3px 5px 3px 3px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.header-box-row{
  display: flex;
}
.header-box-column{
  flex: 50%;
}
.form-box-row{
  display: flex;
}

.form-box-column{
  flex: 50%;
}

.form-box{
  background: rgb(233, 255, 216);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 1px 1px 1px 1px;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
}

.form-group{
  position: relative;
}

.form-group label{
  font-size: 18px;
  color: #302f2f;
  top:0;
  left: 0;
  padding: 5px 0;
}

.form-group input{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  color: #810707;
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.form-group label{
  top:0;
  left: 0;
  padding: 12px 0;
  font-size: 28px;
  color: #222020;
 
}

.button-box input[type=submit]{
  margin: 15px 15px 15px 15px;
  align-items: center;
  background: rgba(17, 80, 15, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  font-size: 27px;
  padding: 8px;
}

.predicted-output{
  background: rgba(247, 244, 72, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 250px 5px 5px 5px;
  justify-content: center;
  box-sizing: border-box;
  display: flex;

}

